@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    box-sizing: border-box;
    border:0;
    font-family:'Roboto',sans-serif;
    text-decoration: none;
}
html,body{height:100%;display: inline-table;width: 100%;background:#f5f5f5;}
body{background-color:#141414;}
main{
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    position:relative;
    padding:80px 0px 0px 0px;
}

#containerFuel{
    width:90%;
    max-width:800px;
    flex-direction:column;
    display:flex;
}

.heroFuel h1{
    margin:0 auto;
    margin-bottom:10px;
    display:table;
    font-size:70px;
    font-weight:700;
    color:#B5B5B5;
    line-height:100%;
    text-align:center;
}
.heroFuel h1 > span{color:#25D88D;}

.heroFuel > span{
    margin:0 auto;
    margin-bottom:25px;
    display:table;
    font-size:20px;
    font-weight:200;
    color:#ABABAB;
    text-align:center;
}

.button{
    width:fit-content;
    border-radius:6px;
    border:1px solid #03BD70;
    border-bottom:4px solid #03BD70;
    background:#119F64;
    font-size:16px;
    font-weight:700;
    color:#fff;
    padding:16px 40px;
    display:flex;
    margin:0 auto;

    transition-duration:0.2s;
}
.button:hover{
    background:#4B3B72;
    border:1px solid #7A6C9E;
    border-bottom:4px solid #7A6C9E;
}


.boxFuel{
    margin-top:60px;
    padding:40px;
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    border-radius:10px 10px 0px 0px;
    background:#1C1C26;
}

.boxInputs{
    width:40%;
    display:flex;
    flex-direction:column;
}
.boxInputs label{
    width:100%;
    display:flex;
    flex-direction:column;
    margin-bottom:15px;
}
.boxInputs label span{
    font-weight:500;
    font-size:16px;
    color:#fff;
    margin-bottom:8px;
}
.boxInputs label input{
    border-radius:5px;
    padding:12px 15px;
    color:#ddd;
    font-size:16px;
    background:none;
    border:1px solid #848484;
}
.boxInputs input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}
.boxInputs input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
}
.boxInputs label input:focus{
    border:0px;
    outline:none;
    border:1px solid #4B3B72;
}

.btnSubmit{
    width:100%;
    background:#4B3B72;
    border:1px solid #7A6C9E;
    border-bottom:4px solid #7A6C9E;
    cursor:pointer;
    justify-content: center;
}
.btnSubmit:hover{
    border:1px solid #03BD70;
    border-bottom:4px solid #03BD70;
    background:#119F64;
}

.boxResult{
    width:54%;
    padding:25px;
    border-radius:8px;
    background:#12121D;
    align-items: center;
    justify-content: center;
    display:flex;
    flex-direction:column;
}


.noResult{
    padding:15px;
    font-size:18px;
    display:flex;
    justify-content: center;
    text-align:center;
    color:#fff;
    font-weight:300;
}

.loading{
    display:flex;
    width:70px;
    height:70px;
    background:url("../img/spinner.gif") no-repeat center center;
    background-size:100%;
}

.contentResult h6{
    font-weight:500;
    font-size:18px;
    color:#fff;
    margin-bottom:5px;
    text-align:center;
}
.contentResult span.rskm{
    color:#7B7B7B;
    font-size:27px;
    font-weight:600;
    margin-bottom:50px;
    justify-content: center;
    display:flex;
}

.contentResult h5{
    font-weight:600;
    font-size:22px;
    color:#fff;
    margin-bottom:5px;
    text-align:center;
}
.contentResult span.rsdesloc{
    color:#04D361;
    font-size:35px;
    font-weight:700;
    display:flex;
    justify-content: center;
}
.contentResult span.rslit{
    color:#7A63B0;
    font-size:17px;
    font-weight:600;
    display:flex;
    justify-content: center;
    margin-bottom:30px;
}
.contentResult span.baseCalc{
    font-size:14px;
    font-weight:200;
    display: flex;
    color:#777;
    justify-content: center;
    text-align:center;
}

footer{
    width:100%;
    padding:60px 20px;
    background:#10101b;

    font-size:14px;
    font-weight:200;
    display: flex;
    color:#777;
    justify-content: center;
    text-align:center;
}


/* RESPONSIVO */
@media screen and (max-width:750px){
    .heroFuel h1{font-size:50px;}
    .heroFuel > span{font-size:16px;}
    .button{font-size:14px;}

    .boxInputs, .boxFuel, .boxResult{width:100%;}

    .boxResult{margin-top:35px;}
}

@media screen and (max-width:430px){
    .heroFuel h1{font-size:35px;}
    .boxFuel{padding:25px;}
    .contentResult h6{font-size:15px;}
    .contentResult h5{font-size:17px;}
}